langchain
# langgraph
pydantic
python-dotenv
pymongo>=4.8
langchain-pinecone
pinecone-client
langgraph>=0.2.45
langchain_community
langchain_openai
langchain_experimental
fastapi
python-dotenv
openai
sqlalchemy
psycopg2-binary
tiktoken
google-generativeai
acp-sdk-python
magentic>=0.12.3
gunicorn
uvicorn