# langchain
# langgraph
pydantic
python-dotenv
pymongo>=4.8
# langchain-pinecone
pinecone-client
langgraph>=0.2.45
# langchain_community
# langchain_openai
# langchain_experimental
fastapi
python-dotenv
openai
sqlalchemy
psycopg2-binary
tiktoken
google-generativeai
acp-sdk-python
acp-sdk
magentic>=0.12.3
gunicorn
uvicorn
# sentence-transformers==5.1.1
# Microsoft Autogen for Magentic-One
autogen-agentchat>=0.2.0
autogen-core>=0.2.0
autogen-ext>=0.2.0


langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.76
langchain-experimental==0.3.4
langchain-openai==0.3.33
langchain-pinecone==0.2.12
langchain-text-splitters==0.3.11


boto3
playwright
Werkzeug
PyJWT
httpx
APScheduler